{{#if isValid}}
<div>
    <h2>Products</h2>
    <h3>Bienvenido <a href="/sessions/current"> {{user.first_name}} </a>, su rol es {{user.role}} </h3><i><a href="/sessions/logout"><button type="button" class="btn btn-danger">Logout</button></a></i>
    {{#if accessToCreateProducts}}
    <i><a href="/products/create"><button type="button" class="btn btn-primary">Create Product</button></a></i>
    {{/if}}
    {{#if accessToCreateProducts}}
    <i><a href="/products/manage"><button type="button" class="btn btn-primary">Manage Products</button></a></i>
    {{/if}}
    {{#if adminAccess}}
    <i><a href="/users"><button type="button" class="btn btn-primary">Manage Users</button></a></i>
    {{/if}}
    {{#ifUnequals user.role 'admin' }}
    <i><a href="/carts/{{user.cart}}"><button type="button" class="btn btn-primary">Cart</button></a></i>
    {{/ifUnequals}}
    <hr>

    <div>
        <nav aria-label="Page navigation example" style="font-weight: bold;">
            <ul class="pagination">
                
                <li class="page-item"><a class="page-link" {{#if hasPrevPage}}href="{{prevLink}}"{{/if}}>Prev</a></li>
                
                <p class="page-link" style="color: black;">{{page}}</p>
                
                <li class="page-item"><a class="page-link" {{#if hasNextPage}}href="{{nextLink}}"{{/if}}>Next</a></li>
                
            </ul>
        </nav>
    </div>

    <div class="row">
        {{#each docs}}
        <div class="col-sm-4"  style="display: flex; align-items: center; justify-content: center;">
            <div class="card my-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: {{this.price}}</li>
                    <li class="list-group-item">Stock: {{this.stock}}</li>
                    <li class="list-group-item">Category: {{this.category}}</li>
                </ul>
                
                {{#ifUnequals ../user.role 'admin' }}
                <div class="card-body">
                    {{#ifUnequals ../user.email this.owner }}
                    <button id="AddToCartButton" class="btn btn-primary addToCartButton" data-product-id="{{this._id}}" data-cart-id="{{../user.cart}}" >Añadir al carrito</button> 
                    {{/ifUnequals}}
                </div>
                {{/ifUnequals}}
            </div>
        </div>
        {{/each}}
    </div>

</div>
{{else}}
<h2>No Products</h2>
{{/if}}

<script src="/js/products.js"></script>