<div>
    <h2>Products</h2>
    <hr>
    {{#each products}}

        <div style="width: 100%;">
            <h4>Title:</h4>
            <p>{{this.title}}</p><br><br>

            <h4>Description:</h4>
            <p>{{this.description}}</p><br><br>

            <h4>price:</h4>
            <p>{{this.price}}</p><br><br>

            <h4>Code:</h4>
            <p>{{this.code}}</p><br><br>

            <h4>Stock:</h4>
            <p>{{this.stock}}</p><br><br>

            <h4>Status:</h4>
            <p>{{this.status}}</p><br><br>

            <h4>Category:</h4>
            <p>{{this.category}}</p><br><br>

            <h4>Id:</h4>
            <p>{{this.id}}</p><br><br>
        </div>
        
    {{/each}}

</div>



